.main#maintext
  .main__inner
    .main__title Promotion Rules
    .main__body 
      p.main__paragraph 1. All deposits made between 06/22/2020 00:00 (GMT +3) and 06/27/2020 23:59 (GMT +3) take part in the promotion.
      p.main__paragraph 2. Only these activities are eligible for cashback: bets on e-sports, casino, crash.
      p.main__paragraph 3. Each day a banner will be placed on the main page of the website, which indicates the percentage of cashback on that day from 00:00 to 23:59 (GTM + 3).
      p.main__paragraph 4. Cashback per day is credited only if the user made a deposit on that day. 
      p.main__paragraph 5. The amount of cashback that is accrued during one day can’t exceed the amount of all deposits made that day.
      p.main__paragraph 6. The cashback is calculated in the following way: [amount of bets - the amount of winning bets * coefficient - the number of wins at the casino + amount of losses at the casino] * % cashback for the specified day
      p.main__paragraph 7. The cashback amount will be credited to the user’s balance within 144 hours after the end of the promotion.
      p.main__paragraph 8. Cashback is available only for one game account per person, family, apartment, computer or IP address. If you suspect a violation of the rules through multiple registrations (fake accounts, game groups), Streambet reserves the right to refuse to provide a bonus. If you register a second account, it will be deleted, and all game bonuses and winnings can be canceled.
      p.main__paragraph 9. The company reserves the right to refuse to provide the client with a bonus without any explanation in case the user has violated the General Provisions and the Betting Rules.
      p.main__paragraph 10. The Company has the right to suspend, cancel or revoke the pay-outs or winnings related to bonus funds in case we suspect that the User is intentionally abusing them.
      p.main__paragraph 11. These conditions can be changed and supplemented both during the tournament and at any other time.
      p.main__paragraph 12. Streambet reserves the right to terminate the tournament at any time at its discretion and without prior notice.
